<%= form_with(model: task , local: true) do |form| %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div><%= form.label :title , t("tasks.form.Title") %></div>
  <div><%= form.text_field :title %></div>

  <div><%= form.label :content , t("tasks.form.Content") %></div>
  <div><%= form.text_area :content %></div>


  <div><%= form.label :deadline_on , "終了期限" %></div>
  <div><%= form.date_field :deadline_on , min: Date.today %></div>

  <div><%= form.label :priority , "優先度" %></div>
  <div><%= form.select :priority , ["高", "中", "低"], include_blank: "" %></div>

  <div><%= form.label :status , "ステータス" %></div>
  <div><%= form.select :status , ["未着手", "着手中", "完了"], include_blank: "" %></div>

  
  
  
  <div><%= form.submit submit_name  , id: submit_id %></div>
  
  
  <div><%= link_to t("tasks.form.Back") ,  tasks_path , id: "back" %></div>
  
<% end %>