<%= form_with(model: task , local: true) do |form| %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error %></li>

        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div><%= form.label :title , "Title" %></div>
  <div><%= form.text_field :title %></div>

  <div><%= form.label :content , "Content" %></div>
  <div><%= form.text_area :content %></div>
  
  
  <div><%= form.submit submit_name  , id: submit_id %></div>
  
  
  <div><%= link_to "Back" ,  tasks_path , id: "back" %></div>
  
<% end %>