<%= render "nav" %>

<h1><%= t(".Show Task") %></h1>

<label><%= t(".Title") %></label><%= @task.title %>
<label><%= t(".Content") %></label><%= @task.content %>
<label><%= t(".Created_at") %></label><%= @task.created_at %>

<%= link_to t(".Edit") , edit_task_path(@task), id: "edit-task" %> | <%= link_to t(".Back") ,  tasks_path , id: "back" %>