<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user_admin? %>
      <ul>
        <li><%= link_to "ユーザ一覧" ,  admin_users_path , id: "users-index" %></li>
        <li><%= link_to "ユーザを登録する" , new_admin_user_path, id: "add-user" %></li>
      </ul>
    <% end %>

    <% if logged_in? %>
      <ul>
        <li><%= link_to t("tasks.nav.Tasks Index") ,  tasks_path , id: "tasks-index" %></li>
        <li><%= link_to t("tasks.nav.New Task") , new_task_path, id: "new-task" %></li>
        <li><%= link_to "アカウント設定", user_path(@current_user), id: "account-setting" %></li>
        <li><%= link_to "ログアウト", session_path(@current_user), method: :delete, id: "sign-out" %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "アカウント登録", new_user_path, id: "sign-up" %></li>
        <li><%= link_to "ログイン", new_session_path, id: "sign-in" %></li>
      </ul>
    <% end %>



    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>

    
    <%= yield %>
  </body>
</html>
